RewriteEngine On
RewriteBase /

# Разрешаем прямой доступ к файлам в папке public
RewriteRule ^public/(.*)$ public/$1 [L]

# Если запрашиваемый файл или директория существуют, используем их
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# В противном случае перенаправляем все на index.php
RewriteRule ^(.*)$ public/index.php/$1 [L,QSA]