RewriteEngine On

# Проверка, существует ли запрашиваемый файл
RewriteCond %{REQUEST_FILENAME} !-f
# Проверка, существует ли запрашиваемая директория
RewriteCond %{REQUEST_FILENAME} !-d
# Перенаправление на index.php
RewriteRule ^(.*)$ index.php [L,QSA]