<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Если запрос идет к реальному файлу или каталогу, используем его напрямую
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Если запрос идет к assets, используем его напрямую
    RewriteRule ^assets/ - [L]
    
    # Иначе все запросы перенаправляем на index.php
    RewriteRule ^ index.php [L]
</IfModule>